@model Trainee

@{
    ViewData["Title"] = "New Student";
    SelectList deptOptios = new SelectList(ViewBag.deptList, "Id", "Name");
}
@section Head{
    <h1>Student</h1>
}
<div class="row">
    <div class="col-6 mx-auto">
        <form class="form" asp-action="Create" method="post">

            <div class="input-group my-2">
                <label asp-for="Name" class="input-group-text"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="input-group my-2">
                <label asp-for="Address" class="input-group-text"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>





            <div class="input-group my-2">
                <label asp-for="dept_id" class="input-group-text"></label>
                <select asp-for="dept_id" asp-items="deptOptios" class="form-select" name="dept_id">
                    <option value="0">--Select Department--</option>
                </select>
                <span asp-validation-for="dept_id" class="text-danger"></span>

            </div>

            <div class="my-1">
                <a asp-action="Index" class="btn btn-info me-1"><i class="bi bi-arrow-left"></i> Back</a>
                <input class="btn btn-success m-1" type="submit" value="Create!" />
            </div>

        </form>
    </div>
</div>


