@model Course
@{
    ViewData["Title"] = "New Course";
    SelectList deptOptios = new SelectList(ViewBag.Depts, "Id", "Name");
}

@section Head{
    <h1>Course</h1>
}

<div class="row ">
    <div class="col-6 mx-auto">
        <form class="form" method="post" asp-action="new_crs">
            <div class="input-group my-2">
                <label asp-for="Name" class="input-group-text"></label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-group my-2">
                <label asp-for="Degree" class="input-group-text"></label>
                <input class="form-control" asp-for="Degree" />
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="input-group my-2">
                <label asp-for="MinDegree" class="input-group-text"></label>
                <input class="form-control" asp-for="MinDegree" />
                <span asp-validation-for="MinDegree" class="text-danger"></span>

            </div>
            <div class="input-group my-2">
                <label asp-for="Grade" class="input-group-text"></label>
                <input class="form-control" asp-for="Grade" />
                <span asp-validation-for="Grade" class="text-danger"></span>

            </div>
            <div class="input-group my-2">
                <label asp-for="Hours" class="input-group-text"></label>
                <input class="form-control" asp-for="Hours" />
                <span asp-validation-for="Hours" class="text-danger"></span>

            </div>
            <div class="input-group my-2">
                <label asp-for="dept_id" class="input-group-text"></label>
                <select asp-for="dept_id" asp-items="deptOptios" name="dept_id" class="form-select">
                    <option value="0">--Select Department--</option>
                </select>
                <span asp-validation-for="dept_id" class="text-danger"></span>

            </div>
            <div class="my-1">
                <a asp-action="Index" class="btn btn-info me-1"><i class="bi bi-arrow-left"></i> Back</a>
                <input class="btn btn-success m-1" type="submit" value="Create!" />


            </div>
        </form>
    </div>

</div>



@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }